@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --main-font: 'Poppins', sans-serif;
  --main-color: #ffd100;
  --light-blue: #088eef;
  --dark-blue: #1879bf;
}

@mixin flexCenter($flex-direction){
  display: flex;
  flex-direction: $flex-direction;
  align-items: center;
  justify-content: center;
}

@keyframes aparecerLogin {
    0% {
      transform: translateX(-1rem); 
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes aparecerCadastro {
  0% {
    transform: translateX(1rem); 
  }
  100% {
    transform: translateX(0);
  }
}


@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

